# Dependencies
node_modules
.pnpm-store

# Build
/dist
/build
/tmp
.turbo
.next
out
dist
*.tsbuildinfo

# Expo
apps/mobile/.expo
apps/mobile/dist
apps/mobile/web-build
*.jks
*.p8
*.p12
*.mobileprovision

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Env
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# Temp
.temp
.tmp
.DS_Store

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# Testing
coverage
